@font-face {
    font-family: dogica;
    src: url('./fonts/dogica.otf');
}

.container {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
    height: 800px;
}

.view {
    position: absolute;
    margin-top: 7vh;
    margin-left: 25px;
    width: 775px;
    height: 650px;
    overflow: hidden;
    border: solid 5px black;
}

.map {
    position: absolute;
    image-rendering: pixelated;
    height: 750px;
    width: 100%;
}

.phone {
    float: right;
    margin-top: 7vh;
    margin-right: 5%;
    height: 640px;
    width: 300px;
    border-radius: 30px;
    border: outset 10px #141114;
    background-image: linear-gradient(#0f0d0f, #141114);
}

.apps {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    image-rendering: pixelated;
}

.apps img {
    height: 100px;
}

.icon {
    text-align: center;
    width: 120px;
    margin-bottom: 15px;
}

.icon span {
    font-family: dogica;
    font-size: 8pt;
    margin-bottom: 15px;
}

.homescreen, .bulletin, .friendships, .inventory, .screen {
    position: absolute;
    margin-top: 5px;
    height: 630px;
    width: 300px;
    border-radius: 20px;
    overflow: scroll;
}

.screen {
    background-color: white;
    overflow: hidden;
}

.homescreen {
    background-image: url('/public/phone/PhoneBkgd.png');
    overflow: hidden;
}

.bulletin, .friendships, .inventory {
    background-color: #242424;
}

.back, .send {
    background-color: transparent;
    border: none;
    font-family: dogica;
    letter-spacing: -1pt;
    color: aqua;
}

.back {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 24pt;
}

.send {
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
    font-size: 12pt;
}

.backspan {
    position: absolute;
    margin-top: 8px;
    font-size: 12pt;
}

.backbackground {
    padding-bottom: 10px;
    border-bottom: solid 2px white;
}

.bulletin input {
    width: 200px;
    height: 14pt;
    border: solid 2px aqua;
    background-color: #1A1A1A;
    color: white;
    font-family: dogica;
    font-size: 12px;
    letter-spacing: -1pt;
}

.bulletin form {
    position: absolute;
    margin-left: 15px;
    margin-bottom: 15px;
    bottom: 0;
}

.formBack {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    border-top: solid 2px white;
}

.bullList {
    margin-top: 15px;
    height: 510px;
    overflow: scroll;
}

.bullItem {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: solid 1px white;
}

.bullText {
    font-family: dogica;
    font-size: 10pt;
    letter-spacing: -1pt;
    color: white;
    line-height: 16pt;
    word-wrap: break-word;
}

.timestamp {
    font-family: dogica;
    font-size: 8pt;
    letter-spacing: -1pt;
    color: aqua;
}

.npcFriendship {
    margin-top: 20px;
    margin-left: 10px;  
}

.friendships img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    image-rendering: pixelated;
    border: solid 1px white;
}

.friendships p {
    position: absolute;
    margin-left: 110px;
    margin-top: -60px;
    font-family: dogica;
    font-size: 10pt;
    letter-spacing: -1pt;
    color: aqua;
}

.item {
    margin-top: 25px;
    font-family: dogica;
    text-align: center;
    color: aqua;
}

.itemImg {
    image-rendering: pixelated;
    margin-right: 10px;
    height: 40px;
}