.view {
    position: absolute;
    margin-top: 5%;
    margin-left: 25px;
    width: 65vw;
    height: 73vh;
    overflow: hidden;
    border: solid 5px black;
}

.map {
    position: absolute;
    image-rendering: pixelated;
    height: 73vh;
}

.phone {
    position: absolute;
    margin-top: 5%;
    margin-left: 70vw;
    height: 73vh;
    width: 25vw;
    border-radius: 30px;
    border: outset 10px #141114;
    background-image: linear-gradient(#0f0d0f, #141114);
}

.screen {
    position: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vh;
    padding-right: 2vw;
    padding-left: 2vw;
    height: 69vh;
    width: 20vw;
    border-radius: 20px;
    background-color: white;
    overflow: scroll;
}

.apps {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    image-rendering: pixelated;
}

.apps img {
    height: 10vh;
}

.icon {
    text-align: center;
    width: 7vw;
    margin-bottom: 15px;
}

.icon span {
    margin-bottom: 15px;
}