@font-face {
    font-family: dogica;
    src: url('./fonts/dogica.otf');
}

@font-face {
    font-family: pixelfy;
    src: url('./fonts/Kemco\ Pixel\ Bold.ttf')
}

html {
    background-image: linear-gradient(to bottom right, crimson,  seagreen, darkslategray, crimson);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 1250px;
    height: 800px;
}

.view {
    position: absolute;
    margin-top: 7vh;
    margin-left: 25px;
    width: 775px;
    height: 650px;
    overflow: hidden;
    border: solid 5px #242424;
    background-color: #242424;
}

.map {
    position: absolute;
    image-rendering: pixelated;
    height: 750px;
    width: 100%;
}

.phone {
    float: right;
    margin-top: 7vh;
    margin-right: 5%;
    height: 640px;
    width: 300px;
    border-radius: 30px;
    border: outset 10px #141114;
    background-image: linear-gradient(#0f0d0f, #141114);
}

.loading {
    text-align: center;
    font-family: pixelfy;
    font-size: 60pt;
    color: tomato;
    text-shadow: 4px 4px 2px white;
    animation-name: loading;
    animation-duration: 2.5s;
    animation-iteration-count: infinite; 
}

@keyframes loading {
    0% {margin-top: 280px}
    50% {margin-top: 290px}
    100% {margin-top: 280px}
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}