.phone {
    position: absolute;
    margin-top: 5%;
    margin-left: 850px;
    height: 630px;
    width: 370px;
    border-radius: 30px;
    border: outset 10px #141114;
    background-image: linear-gradient(#0f0d0f, #141114);
}

.screen {
    position: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    height: 605px;
    width: 310px;
    border-radius: 20px;
    background-color: white;
}

.apps {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    image-rendering: pixelated;
}

.apps img {
    height: 100px;
}

.icon {
    text-align: center;
    width: 130px;
    margin-bottom: 15px;
}

.icon span {
    margin-bottom: 15px;
}