.page {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid 1px transparent; 
}

.page p {
    font-family: dogica;
    color: white;
}

.form {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.textInput {
    margin-bottom: 20px;
    width: 300px;
    height: 20px;
    color: white;
    font-family: dogica;
    font-size: 12pt;
    background-color: #1A1A1A;
    border: solid 1px tomato;
}

.avatarExample {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    height: 100%;
    width: 600px;
}

.submitButton {
    background-color: transparent;
    border: solid 1px #1A1A1A;
    font-family: dogica;
    font-size: 12pt;
    line-height: 26pt;
    color: #1A1A1A;
}

.submitButton:hover {
    color: white;
    cursor: pointer;
    border: solid 1px white;
}

.redirectButton {
    margin-top: 100px;
    height: 30px;
    background-color: transparent;
    border: solid 1px black;
    font-family: dogica;
    font-size: 12pt;
    color: black;
}

.redirectButton:hover {
    cursor: pointer;
    color: white;
    border: solid 1px white;
}

.existingUser {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid 1px transparent;
}

.existingUser p {
    font-family: dogica;
    color: white;
}

.radioButton{
    display:none;
    height: 170px;
}

label :checked + div{
    background: tomato;
    padding: 22px;
}

.spriteExample{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1A1A1A;
    border-radius: 25px;
    image-rendering: pixelated;
    height: 110px;
    width: 75px;
    padding: 20px;
}

.spriteExample:hover {
    cursor: pointer;
    border: 1px solid tomato;
}

.sprite {
    margin: 0;
    image-rendering: pixelated;
    height: 125px;
}

.welcomeScreen {
    text-align: center;
    height: 400px;
    border: solid 1px transparent;
}

.title {
    height: 300px;
    width: 1250px;
    font-family: pixelfy;
    font-size: 100pt;
    color: tomato;
    text-shadow: 4px 4px 2px white;
    animation-name: welcome;
    animation-duration: 2.5s;
    animation-iteration-count: infinite; 
}

.buttons {
    position: absolute;
    text-align: center;
    width: 1250px;
    top: 500px;
}

.welcomeButtons {
    margin-bottom: 20px;
    width: 250px;
    height: 75px;
    background-color: transparent;
    border: solid 1px white;
    font-family: dogica;
    font-size: 20pt;
    line-height: 26pt;
    color: white;
}

.welcomeButtons:hover {
    color: tomato;
    border: solid 1px tomato;
    cursor: pointer;
}

@keyframes welcome {
    0% {margin-top: 80px}
    50% {margin-top: 90px}
    100% {margin-top: 80px}
}