.wall {
    position: absolute;
    background-color: blue;
    z-index: 1;
}

.mapImg {
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
    height: 750px;
    background-repeat: no-repeat;
}